 main h2 {
	background-color:yellow;
	width: 125px;
	padding: 25px;
	border: 25px dotted lime;
	margin: 25px;
}
header > h1 {
	background-color: blue;
	width: 150px;
	padding: 30px;
	border: 20px dashed purple;
	margin: 40px; 
}
nav ~ main {
	background-color: violet;
	width: 445px;
	padding: 29px;
	border: 26px outset black;
	margin: 20px;
}
head ~ body {
	background-color:lavender;
	width: 600px;
	padding: 20px;
	border: 20px inset purple;
	margin: 20px;
}
header + nav {
	background-color: yellow;
	width: 100px;
	padding: 30px;
	border: 20px groove white;
	margin: 30px;
}
h2 ~ p{
	background-color: orange;
	width: 400px;
	padding: 40px;
	border: 30px inset yellow; 
	margin: 40px;
}
h2 ~ table{
	background-color: lavenderblush;
	width: 100px;
	padding: 40px; 
	border: 20px inset blue;
	margin: 50px;
}
footer {
	background-color: mediumorchid;
	width: 200px;
	padding: 50px;
	border: 40px solid palevioletred;
	margin: 25px;
}
	



