*{ 
	outline: groove #B0E9E9;
}
head ~ body {
background-color:  #B2E9E9 ;
}
h1 {
background-color: #FDE4F2;
color: #FF9A9A;
border: outset #EFFDD2;
border-width: 5px;
float: left;
clear: left;
}
h2 {
background-color: #FDE4F2;
color: #FF9A9A;
border: outset #EFFDD2;
border-width: 5px;
float: left;
clear: left;
}
main {
float: right;
clear: right;
}
h3 {
background-color: #AD5597;
color: #5C60A3;
border: outset #E0F5A0 5px; 
}
article {
clear:right;
}
footer {
background-color: #FDE4F2;
color: #FF9A9A;
border: outset #EFFDD2;
border-width: 5px;
float: left;
clear: left;
}
img {
float: left;
clear: left;
}
nav {
background-color: #FDE4F2;
color: #FF9A9A;
border: outset #EFFDD2;
border-width: 5px;
float: left;
clear: left;
}


















